#teams-container
{
    background-color: rgb(73, 167, 167);
    border: chartreuse;
}

#teams-container li
{
    background-color: rgb(211, 107, 23);
    border: rgb(116, 4, 221) solid;
    box-shadow: 10px 10px;
    color: azure;
    width: 400px;
    height: 300px;
    display:inline;
}